<<<<<<< HEAD
/* ===== reset ===== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:12px/1.5 Tahoma,Helvetica,simsun,sans-serif;color:#666666;word-wrap:break-word;word-break:break-all;}
abbr,article,aside,bb,datagrid,datalist,details,dialog,eventsource,figure,footer,header,mark,menu,meter,nav,output,progress,section,time{margin:0;padding:0;display:block;}
table{border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,var,i,b{font-style:normal;font-weight:normal;}
pre,code,kbd,samp,tt{font-family:"courier new",courier,monospace;font-size:100%;line-height:100%;}
ol,ul{list-style:none;}
caption,th{text-align:left;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
fieldset,img{border:0;}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000000;}
button,input,select,textarea{font-size:100%;}
a{text-decoration:none;color:#666;}
a:hover{text-decoration:none;color:#3d6ecd;}
input,button{overflow:visible;}
input,textarea{padding:2px;}
img{vertical-align:top;}
.clearfix:after{content:".";height:0;visibility:hidden;display:block;clear:both;font-size:0;line-height:0;}
.clearfix{*zoom:1;}
/* .clear{height:0;font-size;0;line-height:0;overflow:hidden;clear:both;display:block;} */

.arrow,
.arrow s { position: absolute;display: inline-block;font-size:0;line-height:0;width: 0;height: 0; border: dashed 4px;}
.arrow-rthin,
.arrow-rthin s {border-color: transparent transparent transparent #666;border-left-style: solid;}
.arrow-rthin s {border-left-color: #FAFAFA;left: -6px;top: -4px;}
.arrow-lthin,
.arrow-lthin s {border-color: transparent #666 transparent transparent;border-right-style: solid;}
.arrow-lthin s {border-right-color: #fff;right: -6px;top: -4px;}
.arrow-d {border-color: #666 transparent transparent transparent;border-top-style: solid;}

.step{position:absolute;right:5px;top:8px;padding-left:1px;}
.step a{float: left;position: relative;width: 14px;height:12px;border:1px solid #d8d8d8;margin-left:-1px;}
.step .arrow-rthin {right:0px;top:2px;}
.step .arrow-lthin {left:0;top:2px;}
.step s {cursor: pointer;}
.step a:hover .arrow-rthin {border-left-color: #3d6ecd;}
.step a:hover .arrow-lthin {border-right-color: #3d6ecd;}
.step .number{float:left;margin-right:5px;height:14px;line-height:14px;color:#999;}
	.step .number .cur{color:#333;}
.step .number .cur{color:#333;}

.pageBtn{position:absolute;top:50%;margin-top:-13px;width:15px;height:26px;text-indent:-999px;overflow:hidden;}
	.promo_slide .prev{left:10px;background-position:0 -89px;}
	.promo_slide .next{right:10px;background-position:0 -116px;}
	.promo_slide .prev:hover{background-position:0 -143px;}
	.promo_slide .next:hover{background-position:0 -170px;}
.promo_slide .prev{left:10px;background-position:0 -89px;}
.promo_slide .next{right:10px;background-position:0 -116px;}
.promo_slide .prev:hover{background-position:0 -143px;}
.promo_slide .next:hover{background-position:0 -170px;}

.quickArea .mobile, .ico,.pageBtn,.consult_btn,.collect_btn,.bread_crumbs,.error_tips{background:url(imgs/sprits.png) no-repeat 0 0;}
.btn,.btn .inside{display:inline-block;height:32px;cursor:pointer;border:0 none;background:url(../images/btn_sprits.png) no-repeat 0 0;font:14px/32px'microsoft yahei',Arial,Helvetica,sans-serif;color:#fff;}
.quickArea .mobile, .ico,.pageBtn,.consult_btn,.collect_btn,.apply_btn,.bread_crumbs,.error_tips{background:url(imgs/sprits.png) no-repeat 0 0;}
.btn,.btn .inside{display:inline-block;height:32px;cursor:pointer;border:0 none;background:url(imgs/btn_sprits.png) no-repeat 0 0;font:14px/32px'microsoft yahei',Arial,Helvetica,sans-serif;color:#fff;}
.btn{padding:0 0 0 10px;}
.btn .inside{padding:0 10px 0 0;text-align:center;}
.btn_style01{background-position:0 0 ;}
.btn_style01 .inside{background-position:right 0;}
.btn_style01:hover{background-position:0 -42px ;}
.btn_style01:hover .inside{background-position:right -42px;}
.btn_style02{background-position:0 -84px ;}
.btn_style02 .inside{background-position:right -84px;}
.btn_style02:hover{background-position:0 -126px ;}
.btn_style02:hover .inside{background-position:right -126px;}
.btn_style03{background-position:0 -168px ;}
.btn_style03 .inside{background-position:right -168px;color:#999;}
.btn_style03:hover{background-position:0 -210px ;}
.btn_style03:hover .inside{background-position:right -210px;}

.toolbarWrap,.headWrap,.mainNavWrap,.content,.footerWrap{width:1000px;margin:0 auto;}
.toolbarWrap:after,.mainNavWrap:after,.content:after{content:".";height:0;visibility:hidden;display:block;clear:both;font-size:0;line-height:0;}
.toolbarWrap,.mainNavWrap,.content{*zoom:1;}
.toolbar{position:relative;padding-top:3px;height:27px;line-height:20px;border-bottom:1px solid #dfdfdf;background-color:#f7f7f7;z-index:13;}
.toolbar .quickArea{float:left;}
.toolbar .toolbar_nav{float:right;}
.toolbar .toolbar_nav li{float:left;}
.toolbar .toolbar_nav li.sitePipe{padding:0 5px;color:#c2c2c2;}
.toolbar .toolbar_nav li .s_menu_bd{display:none;position:absolute;left:0px;top:27px;z-index:99;padding:0 0 0 5px;width:85px;background-color:#fff;border:1px solid #d9d9d9;}
.toolbar .toolbar_nav li .s_menu_bd li{line-height:20px;height:20px;float:none;}
.toolbar .toolbar_nav li.hover .s_menu_bd{display:block;}
.toolbar .toolbar_nav li.hover .s_menu{position:relative;}
.toolbar .toolbar_nav li .s_menu .menu_hd{position:relative;display:inline-block;padding:0 20px 0 10px;height:27px;}
.toolbar .toolbar_nav li.hover .s_menu .menu_hd{background-color:#fff;border:1px solid #d9d9d9;border-bottom:0 none;z-index:100;}

.toolbar .toolbar_nav li .s_menu .arrow{right:7px;top:10px;}
.toolbar .toolbar_nav li.hover .s_menu .arrow{border-color: transparent transparent #666 transparent;border-bottom-style: solid;top:5px;}

.quickArea a{padding:0 5px;}
.quickArea .mobile{display:inline-block;padding-left:20px;}
.quickArea .welcome{display:inline-block;padding:0 10px;color:#3d6ecd;font-family:'microsoft yahei',Arial, Helvetica, sans-serif;}

.head{position:relative;z-index:12;}
.headWrap{position:relative;height:140px;}
.headWrap .logo{position:absolute;left:10px;top:35px;width:210px;height:45px;overflow:hidden;}
.headWrap .logo a{display:block;height:45px;text-indent:-999px;overflow:hidden;background:url("../images/logo.png") no-repeat 0 0;}
.headWrap .logo a{display:block;height:45px;text-indent:-999px;overflow:hidden;background:url(imgs/logo.png) no-repeat 0 0;}
.headWrap .weixin{position:absolute;right:20px;top:10px;width:90px;height:90px;}
.headWrap .weixin .hd{display:block;margin-bottom:5px;height:20px;line-height:20px;padding-right:16px;color:#ff7f0d;}
.headWrap .weixin .close{position:absolute;right:0px;top:6px;display:block;background-position:-8px -68px;width:11px;height:11px;overflow:hidden;cursor:pointer;}


.colmain{float:right;width:750px;}
.aside{float:left;width:240px;}

.turnWrap .colmain{float:left;width:790px;}
.turnWrap .aside{float:right;width:190px;}
.turnWrap02 .colmain{float:left;width:750px;}
.turnWrap02 .aside{float:right;width:240px;}
.turnWrap03 .colmain{float:left;width:660px;}
.turnWrap03 .aside{float:right;width:320px;}

.marginTop{margin-top:390px;}
.h20{height:20px;overflow:hidden;}
.bread_crumbs{padding:5px 0 5px 20px;height:25px;line-height:25px;overflow:hidden;background-position:-10px -255px;}
.bread_crumbs{padding:5px 0 10px 20px;height:25px;line-height:25px;overflow:hidden;background-position:-10px -255px;}
.bread_crumbs .gt{margin:0 5px;}
.bread_crumbs a.curr{color:#3d6ecd;}

/*search*/
.search{padding:35px 0 0 250px;}
.search .search_con{position:relative;margin-bottom:5px;width:550px;height:38px;}
.search .btn_search{position:absolute;right:0px;top:2px;display:inline-block;width:80px;height:34px;border:0 none;cursor:pointer;background-color:#3d6ecd;color:#fff;font:14px/32px 'microsoft yahei',Arial, Helvetica, sans-serif;}
.search_triggers{position:absolute;left:2px;top:2px;width:80px;height:34px;overflow:hidden;}
.search_triggers_hover{height:auto;overflow: visible;}
.search_triggers .switchable_nav{position:absolute;left:0px;top:0px;width:79px;z-index:19;border-right:1px solid #e5e5e5;}
.search_triggers_hover .switchable_nav{border:1px solid #e5e5e5;border-top:0 none;}
.search_triggers li{height:34px;font:16px/34px 'microsoft yahei',Arial, Helvetica, sans-serif;text-align:center;}
.search_triggers .arrow-d{position:absolute;right:10px;top:15px;z-index:20;}
.search_triggers_hover .arrow-d{border-color: transparent transparent #666 transparent;border-bottom-style: solid;top:10px;}
.search_triggers a{display:block;padding-right:10px;height:34px;background-color:#f6f6f6;}
.search_triggers_hover a{background-color:#fff;}
.search_triggers a:hover{color:#666;text-decoration:none;background-color:#f6f6f6;}
.search_panel_fields{height:34px;border:2px solid #3d6ecd;}
.search_panel_fields .search_combobox{position:relative;margin:0 80px 0 83px;}
.search_panel_fields .search_combobox .search_label{position:absolute;left:5px;top:12px;width:12px;height:11px;background-position:0 -37px;}
.search_panel_fields .input_txt{width:380px;height:30px;border:0 none;}
.search .hot_keyword{height:18px;line-height:18px;}
.search .hot_keyword strong{font-weight:600;color:#3d6ecd;}
.search .hot_keyword a{display:inline-block;margin:0 4px;vertical-align:middle;}
.search .hot_keyword a:hover{color:#3d6ecd;}
.search .hot_keyword .more{height:18px;line-height:16px;padding: 0 10px 0 5px;background-position:32px -62px;border:1px solid #f3f3f3;}
.search .hot_keyword a:hover{text-decoration:none;}

/*menu*/
.mainNav {position:relative;z-index:10;}

.mainNavWrap{height:40px;background-color:#3d6ecd;}
.mainNav .mainNav_main{float:left;font-weight:bold;font-size:16px;}
.mainNav .mainNav_main li.item{float:left;}
.mainNav .mainNav_main li{position:relative;}
.mainNav .mainNav_main .nav_show_more{position:absolute;left:0px;top:40px;width:155px;background-color:#3d6ecd;}
.mainNav .mainNav_main .nav_show_more .nav_show_more{position:absolute;left:155px;top:0px;background-color:#104cc1;}
.mainNav .mainNav_main li.item a{display:inline-block;padding:0 30px;height:40px;line-height:40px;}
.mainNav .mainNav_main li.item .nav_show_more li a{height:27px;line-height:27px;}
.mainNav .mainNav_main li.item .nav_show_more .nav_show_more li a:hover{background-color:#3d6ecd;}
.mainNav .mainNav_main li.item02 a{width:95px;}
.mainNav .mainNav_main li a{color:#fff;}
.mainNav .mainNav_main li a:hover{text-decoration:none;}
.mainNav .mainNav_main li.item a:hover{background-color:#104cc1;}
.mainNav .mainNav_main li .arrow-d{border-color: #fff transparent transparent transparent;border-top-style: solid;border-width:6px;top:18px;right:15px;}
.mainNav .mainNav_main li a:hover .arrow-d{border-color: transparent transparent #fff transparent;border-bottom-style: solid;top:10px;}

.mainNav .category{position:relative;float:left;width:240px;z-index:10;}
.mainNav .category .category_hd{padding-left:25px;height:40px;line-height:40px;background-color:#ff7800;font-weight:bold;font-size:16px;color:#fff;}
.category_bd{position:absolute;left:0px;top:40px;width:238px;height:400px;background-color:#f8f8f8;border:1px solid #e6e6e6;}
.category_bd .subItem_box{position:relative;margin-top:-1px;height:34px;z-index:1;}
.category_bd .subItem_box .subItem_hd{position:relative;height:32px;overflow:hidden;}
.category_bd .subItem_box .subItem_hd a{position:relative;display:block;margin:0 19px;line-height:30px;border-top:1px solid #e6e6e6;}
.category_bd .subItem_box .subItem_hd b{display:block;position:absolute;right:25px;top:0;height:30px;line-height:30px;font-family: SimSun;}
.category_bd .subItem_box .subItem_bd{position:absolute;left:237px;top:0px;width:155px;background-color:#fff;border:1px solid #ff7800;z-index:4;}
.category_bd .subItem_box .subItem_bd li{margin:5px 0;height:25px;overflow:hidden;}
.category_bd .subItem_box .subItem_bd li a{display:block;height:25px;line-height:25px;padding-left:15px;}
.category_bd .subItem_box .subItem_bd li a:hover{background-color:#f8f8f8;color:#ff7800;text-decoration:none;}
.category_bd .subItem_box_hover{z-index:2;}
.category_bd .subItem_box_hover .subItem_hd{border:1px solid #ff7800;border-right:0 none;background-color:#fff;z-index:5;}
.category_bd .subItem_box_hover .subItem_hd b{color:#ff7800;}
.category_bd .subItem_box_hover .subItem_hd a{margin-top:-1px;padding-top:1px;}
.category_bd a{text-decoration:none;}


/* foot*/
.footerWrap{margin-top:20px;padding:30px 0;border-top:1px solid #dfdfdf;text-align:center;}
.footerWrap .ft_nav{margin-bottom:20px;}
.footerWrap .ft_nav a{display:inline-block;margin:0 20px;line-height:28px;}

.full{float:none;clear:both;}


.mode_box{position:relative;margin-bottom:20px;}
.mode_box .hd{height:30px;border:1px solid #e6e6e6;background-color:#f8f8f8;}
.mode_box .hd h2{float:left;margin-top:-1px;padding:0px 20px 0 15px;border-bottom:3px solid #3d6ecd;font:600 16px/29px 'microsoft yahei',Arial, Helvetica, sans-serif;color:#333;}
.mode_box .hd .more{position:absolute;right:15px;top:5px;color:#3d6ecd;}
.mode_box .bd{position:relative;overflow:hidden;padding-top:20px;border:1px solid #e6e6e6;border-top:0 none;}

.mod{background-color:#f8f8f8;border:1px solid #e6e6e6;}
.mode_box .tab_hd{border:0 none;border-bottom:2px solid #3d6ecd;background:none;}
.tab_hd li{float:left;padding:0 15px;height:28px;line-height:28px;cursor:pointer;border:1px solid #e0e0e0;background-color:#fff;}
.tab_hd li.curr{background-color:#3d6ecd;border-color:#3d6ecd;color:#fff;}


.mod{margin-bottom:10px;background-color:#f8f8f8;border:1px solid #e6e6e6;}
.mod .hd{padding-left:15px;height:40px;border-bottom:1px solid #e6e6e6;font:600 16px/40px 'microsoft yahei',Arial, Helvetica, sans-serif;color:#333;}

.mod_style02{margin-bottom:10px;background-color:#fff;}
.mod_style02 .hd{padding-left:15px;height:40px;border:1px solid #e6e6e6;font:600 16px/40px 'microsoft yahei',Arial, Helvetica, sans-serif;color:#333;}
.mod_style02 .bd{padding:10px ;border:1px solid #e6e6e6;border-top:2px solid #f1f1f1;}

.pic_list{margin-top:-15px;width:1000%;overflow:hidden;}
.pic_list li{margin-top:15px;float:left;margin-right:10px;display: none;}
.pic_list li h4{height:25px;overflow:hidden;font:600 14px/25px Arial, Helvetica, sans-serif;}
.pic_list li h4 a{color:#333;}

/*ͼ���б�*/
.text_list li{height:24px;line-height:24px;overflow:hidden;}

/*��???��D����*/
.textPic_list li{position:relative;overflow:hidden;}
.textPic_list li .pic{display:block;float:left;}

.textPic_item{height:140px;overflow:hidden;}
.textPic_item .pic{float:left;margin-right:15px;width:200px;height:140px;}
.textPic_item .pic img{width:200px;height:140px;}
.textPic_item .label{color:#999;}
.textPic_item h4{margin-bottom:5px;height:20px;overflow:hidden;font:600 16px/20px 'microsoft yahei',Arial, Helvetica, sans-serif;}
.textPic_item h4 a{color:#3d6ecd;}
.textPic_item h4 a:hover{color:#3d6ecd;}
.textPic_item .pro_text{margin-bottom:3px;color:#999;}
.textPic_item .date{color:#3d6ecd;}

/*�������*/
/*?a��?????*/
.download_mode .dl_col01 {padding:10px;border-bottom:1px solid #e8e8e8;;}
.download_mode .dl_col01 .thumb{float:left;margin-right:10px;width:54px;height:54px;}
.download_mode .dl_col01 .thumb img{width:54px;height:54px;}
.download_mode .dl_col01 .con{padding-top:5px;clear:both;float:none;}
.download_mode .dl_col01 h3{margin-bottom:5px;font:600 18px/28px 'microsoft yahei',Arial, Helvetica, sans-serif;color:#3d6ecd;}
.download_mode .dl_col01 .down_area a{display:inline-block;padding:0 10px;height:22px;line-height:22px;background-color:#ff7f0d;color:#fff;}
.download_mode .dl_col02{padding-bottom:10px;border-top:1px solid #fff;border-bottom:1px solid #fff;text-align:center;}
.download_mode .dl_col02 a{display:block;margin-top:20px;}
.download_mode .dl_col03 {padding:16px 20px;line-height:25px;border-top:1px solid #e8e8e8;}
.download_mode .dl_col03 h4{font-weight:600;color:#333;}
.download_mode .dl_col03 p{color:#3d6ecd;}
.download_mode .dl_col03 a{margin:0 5px;color:#3d6ecd;}

/*�Ҳม��*/
/*����2��???��*/
.rightNav{width:30px;position:fixed;_position:absolute;z-index:9999;right:20px;top:200px;_position:absolute;
	_top:expression(eval(document.documentElement.clientHeight - this.offsetHeight + document.documentElement.scrollTop));}
    _top:expression(eval(document.documentElement.clientHeight - this.offsetHeight + document.documentElement.scrollTop));}
.rightNav ul {border:1px solid #e6e6e6;background-color:#f8f8f8;}
.rightNav ul li{position:relative;margin-top:-1px;padding:5px;border-top:1px solid #e6e6e6;}
.rightNav ul li .sum{position:absolute;display:block;margin-right:5px;right:-10px;top:0px;width:13px;height:13px;line-height:13px;text-align:center;background-color:#ee780f;overflow:hidden;color:#fff;
	-webkit-border-radius:17px;-o-border-radius:17px;-moz-border-radius:17px;border-radius:17px;}
    -webkit-border-radius:17px;-o-border-radius:17px;-moz-border-radius:17px;border-radius:17px;}

/*��ҳ*/
/*��-��3*/
.pagination{ font-size:0; text-align:right;margin-top:20px;padding-right:10px;}
.pagination a,.pagination .page-star,.pagination .page-end,.pagination .page-break,.pagination .page-skip,.pagination .page-prev,.pagination .page-next,
.pagination .page-cur{display:inline-block;min-width:16px;_width:16px;height:24px;line-height:24px;font-family:Tahoma,SimSun,Arial; font-size:12px; color:#333;text-align:center;vertical-align:top;text-decoration:none;white-space:nowrap;word-wrap:normal;margin:0 2px;padding:0 5px;}
.pagination a,.pagination .page-star,.pagination .page-end,.pagination .page-prev,.pagination .page-next,
.pagination .page-cur{border:1px solid #dddee0;}
.pagination .page-break,.pagination .page-skip{ height:26px; line-height:26px;}
.pagination a:hover,.pagination .page-cur{ color:#FFF; text-decoration:none;border-color:#3d6ecd;background-color:#3d6ecd;}
.pagination .last a{width:60px;}
.pagination .page-star,.pagination .page-prev,.pagination .page-end,.pagination .page-next{width:36px;}
.pagination span.page-star,.pagination span.page-prev,.pagination span.page-end,.pagination span.page-next{color:#9a9a9a;}
.pagination .page-submit{ display:inline-block; width:51px; height:22px; line-height:20px\9;margin:0 2px;border:1px solid #999;background:#f4f4f4;border-radius:2px;}
.pagination .page-num{ width:32px; height:20px; line-height:20px; text-align:center;margin:0 2px; border:1px solid #dfdfdf;border-top-color:#999;border-left-color:#999;}















.ui-select{position:relative;width:300px;height:23px;border:1px solid #999;}
.ui-select .select-input{cursor:pointer; display:block;min-width:76px; _width:76px; height:20px; line-height:20px;padding:2px 28px 1px 3px; background-color:#FFF;}
.ui-select .select-drop{cursor:pointer; position:absolute;top:-0px;right:0;width:23px; height:23px;border-left:1px solid #999;}
.ui-select .select-drop .arrow{left:50%;top:12px;margin:-2px 0 0 -4px;}
.ui-select_hover .select-drop .arrow{border-color: transparent transparent #666 transparent;border-bottom-style: solid;top:7px;}
.ui-select .select-list{display:none;position:absolute; left:0; top:24px;min-width:100%;*width:100%; *height:160px;max-height:160px !important;overflow-y:auto;background-color:#FFF;border:1px solid #999;*overflow:hidden;z-index:100;}
.ui-select .select-list li{padding-left:10px;height:25px;line-height:25px;cursor:pointer;}
.ui-select .select-list li:hover,.ui-select .select-list li.hover{background-color:#104cc1;color:#fff;}
.ui-select_hover .select-list{display:block;}
.hide{display:none;}
/*
help
 */
=======
@charset "utf-8";
.frame_div {
	margin: 0 auto;
	width: 980px;
}

.hr {
	width: 770px;
	height: 15px;
	border-bottom: 1px solid #b2b2b2;
}

.icp a{
	color: #f0f0f0;
	text-decoration: none;
	font-size: 10px;
}

.no_result {
	font-size: 14px;
	color: #555555;
}

.no_result p {
	padding: 20px;
	border: 1px solid #dddddd;
	background-color: #fafafa; 
}

.base_font_color {
	color: #b2b2b2;
}

.black {
	color: #000000;
}

>>>>>>> 45dad3a572d5d7ea9d42e1bc662d5f932f47f01f
.space_10 {
	height: 10px;
}

.space_15 {
	height: 15px;
}

<<<<<<< HEAD
.frame_div {
	margin: 0 auto;
	width: 980px;
	overflow:auto;
	zoom:1;
}
.main_left {
	float: left;
	width: 190px;
}

.main_right {
	float: right;
	width: 780px;
}

.industry {
	width: 188px;
	border-right: 1px solid #dddddd; 
	border-top: 1px solid #dddddd; 
	border-bottom: 1px solid #dddddd; 
}

.categories {
	border-left: 1px solid #dddddd;
	background: url('../images/categories_bg.png') repeat;
	height: 39px;
	line-height: 39px;
	padding-left: 8px;
}

.m2_categories {
	overflow: hidden;
}

.categories a {
	color: #000000;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
}

.industry .lv1 .arrows {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding-left: 8px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	background: url('../images/industry_li_bg.png') no-repeat 170px 11px;
	position: relative;
	cursor: pointer;
}

.industry .lv1 .arrows .span {
	width: 180px;
	height: 30px;
	overflow: hidden;
}

.industry .lv1 .no_bg_arrows .span {
	width: 180px;
	height: 30px;
	overflow: hidden;
}
	
.industry .lv1 .no_bg_arrows {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding-left: 8px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	background: none;
	position: relative;
	cursor: pointer;
}

.industry .lv1 .no_bg_arrows a {
	color: #000000;
}

.main_left {
	position: relative;
	z-index: 999;
}

.main_left {
	position: relative;
	z-index: 888;
}

.industry .lv1 .arrows ul {
	position: absolute;
	left: 187px;
	top: -1px;
	display: none;
	padding-top: 5px;
	background-color: #ffffff;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	box-shadow: 7px 7px 7px #000000;
	z-index: 999;
}

.industry .lv1 .arrows ul li {
	font-size: 12px;
	width: 250px;
	height: 25px;
	line-height: 25px;
	padding-left: 8px;
	border-left: 1px solid #999999;
}

.industry .lv1 li a {
	color: #555555;
	text-decoration: none;
}

.industry .lv1 .arrows ul .title_again {
	color: #33488C;
	font-size: 16px;
	border-width: 0px;
}
/*.main{
	height: 250px;
}*/







































































=======
.space_20 {
	height: 20px;
}

.space_55 {
	height: 55px;
}

.bold {
	font-weight: bold;
}

.fcb2 {
	color: #b2b2b2;
}

.fcred {
	color: #ff0000;
}

.fcblue {
	color: #33488C;
}

.fcorange {
	color: #eca220;
}

.clear {
	clear: both;
	height: 0px;
	overflow: hidden;
}

a:hover {
	color: #33488c !important;
}

.top_login {
	border-bottom: 1px solid #d6dae8;
	padding-top: 9px;
	padding-bottom: 9px;
}

.top_login_info {
	float: left;
	color: #a7a7a7;
	font-size: 12px;
	line-height: 12px;
}

.top_login_info a {
	color: #6979ab;
	text-decoration: none;
}

.top_login_menu {
	float: right;
	color: #a7a7a7;
	font-size: 12px;
	line-height: 12px;
}

.top_login_menu a {
	color: #a7a7a7;
	text-decoration: none;
}

.top_search_logo {
	float: left;
	width: 230px;
	height: 40px;
}

.top_search_input {
	float: left;
	width: 638px;
	height: 38px;
	border: 1px solid #d6dae8;
}

.search_icon {
	float: left;
	width: 38px;
	height: 38px;
	background: url('../images/search_icon.png') center center no-repeat;
}

.search_text {
	float: left;
	padding-top: 3px;
}

.search_text input {
	width: 590px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 0;
	font-size: 16px;
	color: #555555;
	outline: none;
}

.top_search_button {
	float: left;
	width: 110px;
	height: 40px;
	text-align: center;
}

.top_search_button input {
	background: url('../images/search.png') center center no-repeat;
	width: 90px;
	height: 39px;
	border-width: 0;
	cursor: pointer;
}

.recommend_words {
	float: right;
	width: 750px;
	height: 12px;
	text-align: left;
	font-size: 12px;
	line-height: 12px;
}

.recommend_words a {
	color: #a2a2a2;
	text-decoration: none;
}

.footer_bg {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

.footer {
	border-top: 2px solid #ECA220;
	padding-top: 20px;
	margin: 0 auto;
	width: 980px;
	text-align: center;
}

.bread {
	font-size: 12px;
	line-height: 20px;
}

.bread a {
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}

.bottom {
	border-bottom: 1px solid #d6dae8;
}

.title {
	line-height: 16px;
	padding-bottom: 10px;
}

.title h1 {
	font-size: 16px;
	font-weight: bold;
}

.top_sign {
	border-bottom: 1px solid #d6dae8;
	padding-top: 12px;
	padding-bottom: 12px;
}

.top_sign_logo {
	float: left;
}

.top_sign .top_login_info {
	line-height: 45px;
	padding-left: 40px;
}

.login_left {
	width: 565px;
	height: 365px;
	float: left;
	background: url('../images/login_bg.jpg') no-repeat;
}

.login_right {
	width: 415px;
	height: 365px;
	float: right;
}

.login_frame {
	float: left;
	width: 365px;
	height: 365px;
}

.sign_in_title {
	height: 40px;
	line-height: 40px;
	padding-left: 12px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	background-color: #33488C;
}

.sign_in_form {
	height: 324px;
	border: 1px solid #d6e0ff;
}

.login_input {
	font-size: 12px;
	line-height: 12px;
}

.login_input input {
	line-height: 30px;
}

.login_input .login_input_label {
	float: left;
	width: 70px;
	color: #555555;
	line-height: 30px;
	text-align: right;
	vertical-align: middle;
}

.login_input .login_input_text {
	float: right;
	width: 270px;
	text-align: left;
}

.login_input .login_input_text input {
	width: 188px;
	height: 28px;
	outline: none;
	font-size: 14px;
	border: 1px solid #e5e7ed;
}

.login_error {
	color: red;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	padding-top: 10px;
	padding-left: 93px;
}

.login_button {
	padding-top: 10px;
	padding-left: 12px;
	height: 40px;
}

.login_button .submit_btn {
	float: left;
	width: 90px;
	height: 40px;
}

.login_button .forgetpwd {
	float: right;
	width: 230px;
	height: 40px;
	line-height: 40px;
}

.login_button input {
	cursor: pointer;
	width: 90px;
	height: 39px;
	line-height: 30px;
	border-width: 0;
	background: url('../images/login_btn_bg.png') no-repeat;
}

.login_button a {
	font-size: 12px;
	color: #33488c;
	text-decoration: none;
}

.account {
	padding-top: 20px;
	padding-left: 12px;
}

.account span {
	font-size: 14px;
	color: #555555;
}

.account .content {
	padding-top: 15px;
	font-size: 12px;
	line-height: 16px;
	color: #b2b2b2;
}

.account .join_free {
	padding-top: 12px;
	padding-right: 65px;
	text-align: right;
}

.account .join_free a {
	font-size: 12px;
	color: #33488c;
	text-decoration: none;
}

.foot_links {
	width: 196px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
}

.foot_links a {
	/*color: #B2B2B2;*/
	color: #838383;
	font-size: 12px;
	text-decoration: none;
}

.copyright {
	height: 30px;
	line-height: 30px;
	/*color: #B2B2B2;*/
	color: #838383;
	font-size: 12px;
}

.close_lightbox_btn {
	 cursor: pointer;
	 width: 100px;
	 height: 30px;
	 line-height: 30px;
	 border: 1px solid #B2B2B2;
	 text-align: center;
	 margin: 0 auto;
}

.lightbox_content {
	width: 450px;
	text-align: center;
}
>>>>>>> 45dad3a572d5d7ea9d42e1bc662d5f932f47f01f
